<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>219745214696-haduo29kcvk38b21dr1pr420qj5rsucn.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.219745214696-haduo29kcvk38b21dr1pr420qj5rsucn</string>
	<key>API_KEY</key>
	<string>AIzaSyD-ckUYZbv2BHxuK8h7JkHjkOnFbyXyWko</string>
	<key>GCM_SENDER_ID</key>
	<string>219745214696</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.eccommerce1</string>
	<key>PROJECT_ID</key>
	<string>emartapp1</string>
	<key>STORAGE_BUCKET</key>
	<string>emartapp1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:219745214696:ios:c80b7ac6761f9a4fc9695d</string>
</dict>
</plist>